body{
    background-color: #2c3a47;
    margin: 0;
    padding: 0;
    background: url(back.jpg) no-repeat;
    background-size: cover;
  }
  .box{
    width: 1100px;
    background: #2c3a47;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
  }
  .box-img{
    border-radius:0%;
    width: 200px;
    height: 200px;
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p{
    text-align: center;
  }
  ul{
    background: #2c3a47;

    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: white;
    text-decoration-color: #e66767;
    background-color: #e66767;
    
  }
  .details h3{
      color:white;
      /* background-color:  #e66767; */
      width: fit-content;
  }
  .details h4{
      color: white;
      width: fit-content;
  }
  .details ol li p{
      color:white;
  }
  .details ol li{
      color: white;
  }
  p{
      color: white;
  }
